.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    position: relative;
    display: inline-block;
  }
  
  .error-icon {
    display: none;
    position: absolute;
    padding: 0 1px ;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: red;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid red;
    
  }
  
  .error-icon::after {
    content: "!";
    font-weight: bold;
    
  }
  
  .error-icon:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
  }